.additionalWrap {
    padding: 50px 80px;
    border: 1px solid black;
}

.additionalLink {
    color: black;
    text-decoration: none;
    font-weight: 600;
}

.additionalWrap li{
    margin-bottom: 15px;
}