.mainnav {
    margin-left: 30px;
  }

  .active {
    text-decoration: none;
    font-weight: 600;
    margin-right: 10px;
    text-decoration: none;
    color: #372ee8;
  }
  
  .active:last-child {
    margin-right: 0;
  }
  
  .navitem {
    color: black;
    text-decoration: none;
    font-weight: 600;
    margin-right: 10px;
  }
  
  .navitem:last-child {
    margin-right: 0;
  }
  
 
  